# User/group mapping
UID=1000
GID=1000

# Timezone
TZ=Europe/Zurich

# Root media directory
MEDIA_ROOT=/path/to/media

# Root for incomplete downloads
INCOMPLETE_DOWNLOAD_ROOT=/path/to/incomplete/download

# Docker appdata (configuration) directory 
APPDATA_ROOT=/path/to/appdata

# Audiobookshelf
ABS_PORT=13378

# Sabnzbd
SABNZBD_PORT=8080

# Plex
PLEX_CLAIM_TOKEN=claim-xxxxxxxx

# Arr Stack
SONARR_PORT=8989
RADARR_PORT=7878
RADARR4k_PORT=7879
PROWLARR_PORT=9696
SEERR_PORT=5055
TAUTULLI_PORT=8181
REQUESTRR_PORT=4545
PROFILARR_PORT=6868
UMLAUTADAPTARR_PORT=5006

HOST=http://192.168.1.207
SONARR_API_KEY=yoursonarrkey
RADARR_API_KEY=yourradarrkey
RADARR4k_API_KEY=yourradarr4kkey
