# User/group mapping
UID=1000
GID=1000

# Timezone
TZ=Europe/Zurich

# Root media directory
MEDIA_ROOT=/path/to/media

# Root for downloading files 
DOWNLOAD_ROOT=/path/to/download

# Root for incomplete downloads
INCOMPLETE_DOWNLOAD_ROOT=/path/to/incomplete/download

# Docker appdata (configuration) directory 
APPDATA_ROOT=/path/to/appdata

# Audiobookshelf
ABS_PORT=13378

# Sabnzbd
SABNZBD_PORT=8080

# Plex
PLEX_PORT=32400
PLEX_CLAIM_TOKEN=token
